.nav-item {
    padding: 15px 20px;
    /* background-color: grey; */
    border-radius: 10px;
    transition: all;
    transition-duration: 0.5s;
}

.nav-item:hover {
    background-color: grey;
    transform: scale(1.1);
}

.cursor-pointer {
    cursor: pointer;
}

.custom-dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.custom-dropdown .dropdown-toggle::after {
    display: none;
}

#logout,
#side-semester {
    display: none;
}

@media (max-width: 950px) {

    #logout,
    #side-semester {
        display: block;
    }
}