.item {
    border: 1px solid red;
}

#sidebar {
    height: 100vh;
    border-right: 1px solid rgb(133, 127, 127);
    text-align: center;
    line-height: 10px;
    position: relative;
    position: fixed;
    width: 300px;


}

#header,
#footer,
#content {
    margin-left: 300px;
    margin-top: 0px !important;
}

@media (max-width: 950px) {
    #sidebar {
        display: none;
    }

    #header,
    #footer,
    #content {
        margin-left: 0px;
        margin-top: 0px !important;
    }
}